<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation='http://plugin.powerschool.pearson.com plugin.xsd'
        name="PowerSchool-PowerShell-API-Plugin"
        version="1.0.4"
        description="PowerSchool PowerShell API Plugin">

	<oauth></oauth>	
  
  <publisher name="Bucks County Intermediate Unit #22">
    <contact email="ccrossan@bucksiu.org" />
  </publisher>

  <access_request>
    <field table="STUDENTS" field="ID" access="ViewOnly" />
    <field table="STUDENTS" field="DCID" access="ViewOnly" />
    <field table="STUDENTS" field="CITY" access="ViewOnly" />
    <field table="STUDENTS" field="DOB" access="ViewOnly" />
		<field table="STUDENTS" field="FIRST_NAME" access="ViewOnly" />
    <field table="STUDENTS" field="LAST_NAME" access="ViewOnly" />
    <field table="STUDENTS" field="GENDER" access="ViewOnly" />
    <field table="STUDENTS" field="GRADE_LEVEL" access="ViewOnly" />
		<field table="STUDENTS" field="STUDENT_NUMBER" access="ViewOnly" />
		<field table="STUDENTS" field="ENROLL_STATUS" access="ViewOnly" />
    <field table="STUDENTS" field="Emerg_Phone_1" access="ViewOnly" />
    <field table="STUDENTS" field="Emerg_Phone_2" access="ViewOnly" />
    <field table="STUDENTS" field="HOME_PHONE" access="ViewOnly" />
    <field table="STUDENTS" field="mother" access="ViewOnly" />
    <field table="STUDENTS" field="father" access="ViewOnly" />
    <field table="STUDENTS" field="Mailing_Street" access="ViewOnly" />
    <field table="STUDENTS" field="Street" access="ViewOnly" />
    <field table="STUDENTS" field="Mailing_City" access="ViewOnly" />
    <field table="STUDENTS" field="Mailing_State" access="ViewOnly" />
    <field table="STUDENTS" field="Mailing_Zip" access="ViewOnly" />
    <field table="STUDENTS" field="GuardianEmail" access="ViewOnly" />
    <field table="STUDENTS" field="DistrictOfResidence" access="ViewOnly" />
    <field table="STUDENTS" field="Middle_Name" access="ViewOnly" />
    <field table="STUDENTS" field="LunchStatus" access="ViewOnly" />
    <field table="Attendance" field="attendance_codeid" access="ViewOnly"/>
    <field table="Attendance" field="StudentID" access="ViewOnly"/>
    <field table="Attendance" field="SchoolID" access="ViewOnly"/>
    <field table="Attendance" field="PeriodID" access="ViewOnly"/>
    <field table="Attendance" field="att_date" access="ViewOnly"/>
    <field table="Att_Code_Code_Entity" field="Attendance_CodeID" access="ViewOnly" />
    <field table="Att_Code_Code_Entity" field="code_entityid" access="ViewOnly" />
    <field table="Attendance_Code" field="Id" access="ViewOnly" />
    <field table="Attendance_Code" field="att_code" access="ViewOnly" />
    <field table="Attendance_Code" field="Presence_Status_CD" access="ViewOnly" />
    <field table="Code_Entity" field="Id" access="ViewOnly" />
    <field table="Code_Entity" field="Ce_Code" access="ViewOnly" />
    <field table="Schools" field="School_Number" access="ViewOnly" />
    <field table="Schools" field="Name" access="ViewOnly" />
    <field table="Period" field="Id" access="ViewOnly" />
    <field table="Period" field="period_number" access="ViewOnly" />
    <field table="Period" field="Name" access="ViewOnly" />
		<field table="USERS" field="SIF_StatePrid" access="ViewOnly" />
		
  </access_request>

</plugin>